<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
         
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <a href="javascript:" class="d-flex justify-content-center mt-3">
                  <img width="170" height="150" src="https://imgs.search.brave.com/uU2Rav4yLGjmf8oZXQKIYH0buwqmUJFx3CY5cr1KTSg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pZW11/amVyLmR1cmFuZ28u/Z29iLm14L3dwLWNv/bnRlbnQvdXBsb2Fk/cy9zaXRlcy80NC8y/MDIzLzAyL2ltbS5w/bmc" alt="" class="logo logo-lg" />
                        </a>
                <h2 class="text-secondary mt-5"><b>Inicia Sesión</b></h2>
                <p class="fs-4 mt-2">Ingresa tus credenciales para continuar</p>
              </div>
            </div>
          </div>
          <div class="d-grid">
            <!-- <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
              <img src="assets/images/authentication/google-icon.svg" />Sign In With Google
            </button> -->
          </div>
          <!-- <div class="saprator mt-3">
            <span>or</span>
          </div> -->
          <!-- <h5 class="my-4 d-flex justify-content-center"> Sign in with Email address </h5> -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="" />
              <label for="floatingInput">Correo</label>
            </div>
       
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingInput" formControlName="password"placeholder="" />
              <label for="floatingInput">Contraseña</label>
            </div>
           
            
             <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary p-2" disabled  *ngIf="
              loginForm.get('email').value==''||
              loginForm.get('password').value==''
              ">Iniciar Sesión</button>
              <button type="submit" class="btn btn-secondary p-2"   *ngIf="
              loginForm.get('email').value!=''&&
              loginForm.get('password').value!=''
              ">Iniciar Sesión</button>
            </div>
          </form>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/autenticacion/registro']">No tienes cuenta crea una?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
