/* Define la fuente Arial en tu hoja de estilo CSS */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Resto de tus estilos CSS */
  .pdf-page {
    page-break-after: always;
  }
  .page-break-before {
    page-break-before: always;
  }
  
  .page-break-after {
    page-break-after: always;
  }
  .table {
    page-break-inside: avoid;
  }
  /* pdf.component.scss */
.pdf-content {
  max-height: 100%;
  overflow: auto;
  padding: 16px; /* Agrega un espacio de relleno si es necesario */
}
.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-image{
  width: 7em;
  height: 7em;
  margin: 0 .3em;
}