<div id="pEl" #pdfElement class="pdf-content">
  <h2 mat-dialog-title class="text-center">{{ pdf?.title }}</h2>
  <mat-dialog-content class="mat-typography" *ngFor="let i of pdf?.dataInfo; let index=index">
    <h3 class=" modal-title" >{{ i.subtitule }}</h3>
    <ng-container   *ngIf="i.table.length > 0">
      <ng-container class="pdf-page" *ngFor="let chunk of chunkArray(i.table, 4); let index = index">
        <!-- Crea una tabla para cada segmento de 6 elementos -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="table-dark" *ngFor="let title of chunk">{{ title.text }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let title of chunk">{{ title.value }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
    
    <ng-container   *ngIf="i.img && i.img.length > 0" >
          <ng-container *ngFor="let i of i.img">
              <!-- <img src="https://api.gomezpalacio.gob.mx/gpCenter/sinImagen.jpg"/> -->
              <!-- <img src="https://imgs.search.brave.com/ITSfpSGDmQZxKORuAUwwvDIYh0ODKjXp5CS0iTyrK7Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM1/NTAzNjY2MC9lcy92/ZWN0b3IvYW5pbWFs/ZXMtcXVlLXZpdmVu/LWVuLWJvbGl2aWEu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PTN5U2xyV3F4VHdS/R1RWb0hCUk5kcDhN/OFo2MTAtMlNDTnhh/b3EzdUM4SkE9" alt=""> -->
              <img  [src]="i.url">
        </ng-container>
    </ng-container>

  </mat-dialog-content>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="downloadPDF()" cdkFocusInitial>Descargar</button>
</mat-dialog-actions>
