
<div [className]=" isPdf &&'background_loader'">
  <span [className]=" isPdf &&'file'"></span>

</div>
<div [className]=" isDelete &&'background_loader'">
  <span [className]=" isDelete &&'delete'"></span>

</div>
<div [className]=" isSave &&'background_loader'">
  <span [className]=" isSave &&'post'"></span>

</div>
<app-table 
[fields]="data"
[buttons]="tableButtons"
(buttonClick)="ButtonEvents($event)"
(idDelete)="Delete($event)"
(pdf)="GeneratePdf($event)"
>


</app-table>




  <mat-card>
    <mat-card-content>
        <mat-stepper [linear]="" #stepper >
            <mat-step  label="Actividades IMM - captura de actividades" #step1>

        <app-form 
        [form]="activities"
         [afterwindows]="false"
         (FormGroup)= "Submit($event)"
         [infoForm]="infoData"


         ></app-form>
            </mat-step>
        </mat-stepper>
    </mat-card-content>
  </mat-card>