.horizontal-input {
    display: inline-block;
    margin-right: 10px; 
  }
  .col-1{
    width: 10%;
  }
  .col-2{
    width: 20%;
  }
  .col-3{
    width: 30%;
  }
  .col-4{
    width: 40%;
  }
  .col-5{
    width: 50%;
  }
  .col-6{
    width: 60%;
  }
  .col-7{
    width: 70%;
  }
  .col-8{
    width: 80%;
  }
  .col-9{
    width: 90%;
  }
  .col-10{
    width: 100%;
  }
.spaceinputs{
    margin: .4em;
}
.radio-group {
  width: fit-content;
  height: fit-content;
  text-align: center; 
  display: inline-block;
  margin-left: .2em;
  margin-right: .2em;
  /* Centra el contenido horizontalmente */
}

.title {
  font-weight: normal; /* Puedes ajustar el estilo del título según tus preferencias */
  margin-bottom: 10px; /* Espacio entre el título y las opciones */
}
.btn{
  margin-left: .4em !important;
}

