<!-- [ Sidebar Menu ] start -->
<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <!-- [ Header Topbar ] start -->
      <a [routerLink]="['/defecto/']" class="b-brand">
        <!-- ========   change your logo hear   ============ -->
        <img width="70" height="50" src="https://imgs.search.brave.com/uU2Rav4yLGjmf8oZXQKIYH0buwqmUJFx3CY5cr1KTSg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pZW11/amVyLmR1cmFuZ28u/Z29iLm14L3dwLWNv/bnRlbnQvdXBsb2Fk/cy9zaXRlcy80NC8y/MDIzLzAyL2ltbS5w/bmc" alt="" class="logo logo-lg" />
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
