<div class="m-header">
  <!-- [ Header Topbar ] start -->
  <a [routerLink]="['/default/']" class="b-brand">
    <!-- ========   change your logo hear   ============ -->
    <img width="80" height="50" src="https://imgs.search.brave.com/uU2Rav4yLGjmf8oZXQKIYH0buwqmUJFx3CY5cr1KTSg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pZW11/amVyLmR1cmFuZ28u/Z29iLm14L3dwLWNv/bnRlbnQvdXBsb2Fk/cy9zaXRlcy80NC8y/MDIzLzAyL2ltbS5w/bmc" alt="" class="logo logo-lg" />
  </a>
  <!-- ======= Menu collapse Icon ===== -->
  <div class="pc-h-item">
    <a
      href="javascript:"
      class="pc-head-link head-link-secondary m-0 mobile-menu"
      [ngClass]="{ on: navCollapsed }"
      id="sidebar-hide mobile-collapse"
      (click)="navCollapse()"
    >
      <i class="ti ti-menu-2"></i>
    </a>
  </div>
</div>
<!-- [ Header ] end -->
