<br>
<form [formGroup]="Form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <ng-container *ngFor="let i of inputs" class="horizontal-input">
      <ng-container [ngSwitch]="i.type" class="form-group">
        <ng-container *ngSwitchCase="'number'">
          <mat-form-field class="example-full-width spaceinputs" appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input type="" matInput placeholder="" [formControlName]="i.formcontrolname" class="numbers" appNumeric
              [disabled]="!i.disabled && true" >
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
          <mat-form-field class="example-full-width spaceinputs" appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <mat-select [formControlName]="i.formcontrolname" >
              <mat-option *ngFor="let item of i.listitems" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'radio'">
          <div class="radio-group">
            <p class="title">{{ i.label }}</p>
            <mat-radio-group [formControlName]="i.formcontrolname">
              <ng-container *ngFor="let radioButton of i.radiobutton">
                <mat-radio-button [value]="radioButton.value">{{ radioButton.text }}</mat-radio-button>
              </ng-container>
            </mat-radio-group>
          </div>

        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <mat-form-field appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="i.formcontrolname">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </ng-container>
        <ng-container *ngSwitchCase="'email'">
          <mat-form-field appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input type="email" matInput [formControlName]="i.formcontrolname" [errorStateMatcher]="matcher"
              placeholder="Ex. pat@example.com">
            <mat-error *ngIf="Form.hasError('email') && !Form.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="Form.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'time'">
          <mat-form-field appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input type="time" matInput [formControlName]="i.formcontrolname" [errorStateMatcher]="matcher">
          </mat-form-field>
        </ng-container>
        <ng-container class="radio-group" *ngSwitchCase="'checkboxdescription'">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>


                <mat-panel-title>
                  {{ i.label }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="list-group row">
                <div class="row">
                  <div class="alert alert-warning" role="alert">
                   Si desabilitaste una opción que ya habias habilitado y la vuelves a habilitar y vez que ya tiene algo seleccionado tendras
                   que volver a seleccionar del desplegable aun que sea la misma opción si no sera leida
                  </div>
                 
                  
                <ng-container *ngFor="let check of i.checkbox; let index = index" class="">

                    <li class="list-group-item col-6">

                      <mat-checkbox class="example-margin text-start col-4"  (change)="addCheckbox(i.formcontrolname,check)"
                        [value]="check.value">{{ check.text }}</mat-checkbox>
                        <mat-form-field class="example-full-width spaceinputs col-6" appearance="outline">
                          <mat-label>{{ i.description }}</mat-label>
                          <mat-select [disabled]="!check.status" [value]="!check.status? '': ''" (selectionChange)="onSelectDescriptionChange(i.formcontrolname,check,$event)">
                            <mat-option *ngFor="let item of i.itemsdescription" [value]="item.value">
                              {{ item.text }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </li>

                  </ng-container>
                </div>

                </ul>



            </mat-expansion-panel>
          </mat-accordion>



        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
          
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>


                <mat-panel-title>
                  {{ i.label }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="list-group row">
                <div class="row">
                <ng-container *ngFor="let check of i.checkbox; let index = index" class="">

                    <li class="list-group-item col-6" [ngClass]="{'list-group-item': index % 1 === 0}">

                      <mat-checkbox class="example-margin text-start col-4" (change)="addCheckbox(i.formcontrolname,check)"
                        [value]="check.value">{{ check.text }}</mat-checkbox>
                      
                    </li>

                  </ng-container>
                </div>

                </ul>



            </mat-expansion-panel>
          </mat-accordion>



        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-form-field class="example-full-width spaceinputs" appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input matInput placeholder="" [formControlName]="i.formcontrolname" [readonly]="i.disabled && true" >
          </mat-form-field>
        </ng-container>
      </ng-container>
      <ng-container [ngSwitch]="i.typeloadingdata" class="form-group">
        <ng-container *ngSwitchCase="'number'">
          <mat-form-field class="example-full-width spaceinputs" appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input type="" matInput placeholder="" [formControlName]="i.formcontrolname" class="numbers" appNumeric
              [disabled]="!i.disabled && true" >
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
          <mat-form-field class="example-full-width spaceinputs" appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <mat-select [formControlName]="i.formcontrolname">
              <mat-option *ngFor="let item of i.listitems" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'radio'">
          <div class="radio-group">
            <p class="title">{{ i.label }}</p>
            <mat-radio-group [formControlName]="i.formcontrolname">
              <ng-container *ngFor="let radioButton of i.radiobutton">
                <mat-radio-button [value]="radioButton.value">{{ radioButton.text }}</mat-radio-button>
              </ng-container>
            </mat-radio-group>
          </div>

        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <mat-form-field appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="i.formcontrolname">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </ng-container>
        <ng-container *ngSwitchCase="'email'">
          <mat-form-field appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input type="email" matInput [formControlName]="i.formcontrolname" [errorStateMatcher]="matcher"
              placeholder="Ex. pat@example.com">
            <mat-error *ngIf="Form.hasError('email') && !Form.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="Form.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'time'">
          <mat-form-field appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input type="time" matInput [formControlName]="i.formcontrolname" [errorStateMatcher]="matcher">
          </mat-form-field>
        </ng-container>
        
        <ng-container *ngSwitchCase="'checkbox'">
          
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>


                <mat-panel-title>
                  {{ i.label }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="list-group row">
                <div class="row">
                <ng-container *ngFor="let check of i.checkbox; let index = index" class="">

                    <li class="list-group-item col-6" [ngClass]="{'list-group-item': index % 1 === 0}">

                      <mat-checkbox class="example-margin text-start col-4" (change)="addCheckbox(i.formcontrolname,check)"
                        [value]="check.value">{{ check.text }}</mat-checkbox>
                      
                    </li>

                  </ng-container>
                </div>

                </ul>



            </mat-expansion-panel>
          </mat-accordion>



        </ng-container>
        <ng-container *ngSwitchCase="'text'">
          <mat-form-field class="example-full-width spaceinputs" appearance="outline">
            <mat-label>{{ i.label }}</mat-label>
            <input matInput placeholder="" [formControlName]="i.formcontrolname" [readonly]="i.disabled && true" >
          </mat-form-field>
        </ng-container>
      </ng-container>
    </ng-container>
    <br>
    <ng-container class="mx-auto justifty-content-center ">
      <!-- <button class="btn btn-outline-primary" [disabled]="Form.invalid" type="submit">Continuar</button> -->
      <button class="btn btn-outline-primary"  type="submit">Continuar</button>
    </ng-container>
  </div>
</form>